<a href="https://colab.research.google.com/github/Alexsandro2520/PA2025/blob/main/Aula_de_operadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#MATEMÁTICA

##SOMA

In [11]:
n1=int(input("Coloque o primeiro número: "))
n2=int(input("Coloque o segundo número: "))
print(n1+n2)

Coloque o primeiro número: 5
Coloque o segundo número: 7
12

##SUBTRAÇÃO

In [ ]:
n1=int(input("Coloque o primeiro número: "))
n2=int(input("Coloque o segundo número: "))
print(n1-n2)

##MULTIPLICAÇÃO

In [12]:
n1=int(input("Coloque o primeiro número: "))
n2=int(input("Coloque o segundo número: "))
print(n1*n2)

Coloque o primeiro número: 5
Coloque o segundo número: 7
35

##DIVISÃO

In [ ]:
n1=int(input("Coloque o primeiro número: "))
n2=int(input("Coloque o segundo número: "))
print(n1/n2)

##IGUALDADE

In [17]:
a=int(input("Número: "))
if a==5:
  print("É igual a 5 :)")
else:
  print("Não é igual a 5 :(")

Número: 3
Não é igual a 5 :(

##EXPOENTE

In [18]:
3**5

243

##MAIOR, IGUAL, MENOR, MAIOR OU IGUAL, MENOR OU IGUAL

> Adicionar aspas

In [27]:
#False maior
print(3>5)
#True maior
print(5>3)

#False menor
print(5<3)
#True menor
print(3<5)

#False igual
print(3==5)
#True igual
print(3==3)

#False maior ou igual maior
print(5>=6)
#True maior ou igual
print(5>=3)
#True maior ou igual 2
print(5>=5)

#False menor ou igual maior
print(5<=4)
#True menor ou igual
print(5<=7)
#True menor ou igual 2
print(5<=5)

False
True
False
True
False
True
False
True
True
False
True
True

##DIFERENTE

In [30]:
a=4

print(a!=4)
print(a!=2)

False
True

##VARIÁVEIS

In [1]:
nome="Alex"
sobrenome="Sandro"
print(nome+" "+sobrenome)

Nome:
Sobrenome:
['Mario']   ['Da silva']

In [2]:
nome1=str(input("Coloque seu nome aqui: "))
sobrenome1=str(input("Coloque seu sobrenome aqui: "))

print('Olá '+nome1+' '+sobrenome1+'! Seja bem vindo ao meu mundo!')

Coloque seu nome aqui: Roberto
Coloque seu sobrenome aqui: Alakazan
Olá Roberto Alakazan! Seja bem vindo ao meu mundo!

In [9]:
#Apresentação
print('-'*20, "O Calculo de um rentangulo", "-"*20)
#Dando espaço no texto
print('\n')

#Lado do quadrado
lado=int(input("O lado é igual a: "))
#Altura do quadrado
altura=int(input("O altura é igual a: "))

#Calculo da altura vezes lado
area=lado*altura
#Mostrando resultado
print('A area do objeto em questão é ', area)
if(lado==altura): print("É um quadrado!")
else: print("É um retangulo!")

-------------------- O Calculo de um rentangulo --------------------


O lado é igual a: 5
O altura é igual a: 6
A area do objeto em questão é  30
É um retangulo!